# Rust/Cargo
target/
**/target/
Cargo.lock

# VSCode / IDE
.vscode/
.idea/
*.sw?
*.swo
*.swn
*.bak

# Logs
*.log

# MacOS
.DS_Store

# Node (si un jour tu fais une interface front séparée)
node_modules/
dist/
build/

# By Cargo
*.rs.bk

# Tests temporaires
tests/output/
tests/tmp/

# dotenv / secrets
.env
.env.*
